/* CSS for A Place to Sleep App */
/*BASE STYLES*/

* {
  box-sizing: border-box;
}

.navbar{
  height: 50px;  
}

/*Main HTML Styles*/
.main-page {
  background: mediumaquamarine;
  background-size: 100%;
  min-height:45em;
  padding-top: 0px;
    
}

.quote1 {
    padding-top: 2em;
    font-size: 3em; 
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.p {
   color: white;
    margin-right: 0px;
    font-size: 25px;
    padding-top: 1em;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
}


/* halo css */

.video {
  width: 100%;
  height: 5em;
}

.paragraph {
    margin-left: 5em;
    margin-right: 5em;
    font-family: sans-serif;
    font-size: 1em;
}

.aboutHalo {
    background: mediumaquamarine;
    margin-top: 0em;
}

.quote2 {
    text-align: center;
    font-size: 1.5em;
    font: bold;
}

.aboutHalo h1{
    padding-top: 3em;
    text-align: center;
}

/* contact css*/

.contactPage {
    background: mediumaquamarine;
    
}

.paragraphContact {
    margin-top: 5em;
    font-size: 1em;
    border-right: 1px;
    list-style: none;
}

.paraContact2 {
    font-size: 1em;
   
}

.paraContact3 {
    font-size: 1em;
   
}

.paraContact4 {
    font-size: 1em;

}

/* about css */

.bio {
    font-size: 1em;
    background-color: mediumaquamarine;
    width: 100%;
}

.paragraphAbout {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 7em;
}

.paragraphAbout2 {
    margin-left: 2em;
}

.footer {
    height: 3em;
}

  ul {
    margin-left: 20px;
    color: blue;
  }
  li {
    cursor: default;
  }
  span {
    color: red;
  }


/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    background-height: 100%;
    .paragraph {
       margin-left: 1em;
        margin-right: 1em;
    }
}
@media only screen  and (min-width : 500px) and (max-device-width : 1200px)  {
    background-height: 100%;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    background-height: 100%;
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    background-height: 100%;
}



